<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.ufpr.dendrodata"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.activity.individuo.ListaIndividuoActivity" />
        <activity android:name=".ui.activity.amostra.ListaAmostrasActivity" />
        <activity android:name=".ui.activity.projeto.ListaProjetosActivity" />

        <activity android:name=".ui.activity.projeto.FormularioProjetoActivity" />
        <activity android:name=".ui.activity.main.SobreActivity" />
        <activity android:name=".ui.activity.main.ExportarActivity" />
        <activity
            android:name=".ui.activity.main.splash.SplashUFPRActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.splash.SplashDendroActivity"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity android:name=".ui.activity.main.InicioActivity" />
    </application>

</manifest>